h1{
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: #ed1c57;
    text-align: center;
}
body{
    margin: 0;
    background-image: url(../images/blktrip.png);

}


















iframe{
    width:30vw;
    display:inline;
}